@font-face {
    font-family: 'FoughtKnight';
    src: url('../fonts/FoughtKnight.woff2') format('woff2'),
    url('FoughtKnight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header.bg-primary {
	background-color: #3163b2 !important;
}

header h1 {
	font-family: 'FoughtKnight',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 5em;
	font-weight: normal;
	font-style: normal;
}

header #hero-img {
	height: 12.5em;
}

#about img, #media img {
	width: 100%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 4px;
	margin-bottom: 25px;
}

.social {
	font-size: 2em;
	text-align: center;
}

.social i {
	margin: 0 15px;
}

.social a {
	color: white;
	transition: color .3s ease;
}

.social a:hover {
	color: orange;
}

.footer-social {
	font-size: 1.5em;
}

#sponsors table {
	width: 100%;
}

#sponsors table tr {
	width: 100%;
}

#sponsors table td {
	width: 50%;
	text-align: center;
}

#sponsors table td img {
	width: 80%;
}

#sponsors a img {
	transition: 0.2s;
}

#sponsors-mobile {
	display: none;
}

#sponsors a:hover img {
	transform: translateY(-2px);
	filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.2));
}

h2 {
	text-align: center;
}

.sponsor-single {
	text-align: center;
	width: auto;
}
.partner-img {
	margin-bottom: 20px;
}
.normal-single {
	margin-bottom: 30px;
	width: 50%;
}
#beam-on-img {
	margin-bottom: -20px;
	width: 70%;
}
#intuitive-img { 
	margin-bottom: -30px;
	margin-top: -40px;
}
#gene-haas-logo { 
	max-height: 40% !important;
	width: 40% !important;
}

.sponsors-head {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	border-bottom: solid #ccc;
}
#sponsors-partner {
	color: red;
}
#sponsors-gold {
	color: #C49C07;
}
#sponsors-silver {
	color: grey;
}
#sponsors-bronze {
	color: #CD7F32;
}
section {
	padding: 75px 0;
}

#build-season-down-arrow {
	color: white;
	font-size: 2em;
	transition: color .3s ease;
	padding: 0;
}

#build-season-down-arrow:hover {
	color: orange;
}

.bottom-padding {
	margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
	header h1 {
		font-size: 10vw;
	}

	.sponsors-desktop {
		display: none;
	}

	#sponsors-mobile {
		display: block;
		text-align: center;
	}

	#sponsors-mobile img {
		width: 80%;
		margin-bottom: 40px;
	}

	#build-season-down-arrow {
		margin-top: -10px;
	}
}
