@font-face {
    font-family: 'FoughtKnight';
    src: url('../fonts/FoughtKnight.woff2') format('woff2'),
    url('FoughtKnight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header.bg-primary {
	background-color: #3163b2 !important;
}

header h1 {
	font-family: 'FoughtKnight',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 5em;
	font-weight: normal;
	font-style: normal;
}

header #hero-img {
	height: 12.5em;
}

@media screen and (max-width: 992px) {
	header h1 {
		font-size: 10vw;
	}
}

#about img {
	width: 100%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 4px;
}

.social {
	font-size: 2em;
	text-align: center;
}

.social i {
	margin: 0 15px;
}

.social a {
	color: white;
	transition: color .3s ease;
}

.social a:hover {
	color: orange;
}

.footer-social {
	font-size: 1.5em;
}

#sponsors-table {
	width: 100%;
}

#sponsors-table tr {
	width: 100%;
}

#sponsors-table td {
	width: 50%;
	text-align: center;
}

#sponsors-table td img {
	width: 80%;
}

#sponsors a img {
	transition: 0.2s;
}

#sponsors a:hover img {
	transform: translateY(-2px);
	filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.2));
}

h2 {
	text-align: center;
}

.sponsor-single {
	text-align: center;
}

.sponsor-single img {
	width: 40%;
	margin-top: -30px;
}

section {
	padding: 75px 0;
}